prueba/web/WEB-INF/wsdl/192.168.1.101_15362/aplicacion/practicaservicio.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.practica.pangea.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios.practica.pangea.com/" name="practicaservicio">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios.practica.pangea.com/" schemaLocation="http://192.168.1.101:15362/aplicacion/practicaservicio?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://192.168.1.101:15362/aplicacion/practicaservicio?xsd=2"/>
</xsd:schema>
</types>
<message name="insertarCargo">
<part name="parameters" element="tns:insertarCargo"/>
</message>
<message name="insertarCargoResponse">
<part name="parameters" element="tns:insertarCargoResponse"/>
</message>
<message name="insertarDepartamento">
<part name="parameters" element="tns:insertarDepartamento"/>
</message>
<message name="insertarDepartamentoResponse">
<part name="parameters" element="tns:insertarDepartamentoResponse"/>
</message>
<message name="insertarEmpleado">
<part name="parameters" element="tns:insertarEmpleado"/>
</message>
<message name="insertarEmpleadoResponse">
<part name="parameters" element="tns:insertarEmpleadoResponse"/>
</message>
<message name="insertarProyecto">
<part name="parameters" element="tns:insertarProyecto"/>
</message>
<message name="insertarProyectoResponse">
<part name="parameters" element="tns:insertarProyectoResponse"/>
</message>
<message name="contardepartamento">
<part name="parameters" element="tns:contardepartamento"/>
</message>
<message name="contardepartamentoResponse">
<part name="parameters" element="tns:contardepartamentoResponse"/>
</message>
<message name="listadepartamento">
<part name="parameters" element="tns:listadepartamento"/>
</message>
<message name="listadepartamentoResponse">
<part name="parameters" element="tns:listadepartamentoResponse"/>
</message>
<message name="contarempleado">
<part name="parameters" element="tns:contarempleado"/>
</message>
<message name="contarempleadoResponse">
<part name="parameters" element="tns:contarempleadoResponse"/>
</message>
<message name="listaempleado">
<part name="parameters" element="tns:listaempleado"/>
</message>
<message name="listaempleadoResponse">
<part name="parameters" element="tns:listaempleadoResponse"/>
</message>
<message name="contarproyecto">
<part name="parameters" element="tns:contarproyecto"/>
</message>
<message name="contarproyectoResponse">
<part name="parameters" element="tns:contarproyectoResponse"/>
</message>
<message name="listaproyecto">
<part name="parameters" element="tns:listaproyecto"/>
</message>
<message name="listaproyectoResponse">
<part name="parameters" element="tns:listaproyectoResponse"/>
</message>
<message name="edc1">
<part name="parameters" element="tns:edc1"/>
</message>
<message name="edc1Response">
<part name="parameters" element="tns:edc1Response"/>
</message>
<message name="psg1">
<part name="parameters" element="tns:psg1"/>
</message>
<message name="psg1Response">
<part name="parameters" element="tns:psg1Response"/>
</message>
<message name="descripcion">
<part name="parameters" element="tns:descripcion"/>
</message>
<message name="descripcionResponse">
<part name="parameters" element="tns:descripcionResponse"/>
</message>
<message name="edc2">
<part name="parameters" element="tns:edc2"/>
</message>
<message name="edc2Response">
<part name="parameters" element="tns:edc2Response"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="listar">
<part name="parameters" element="tns:listar"/>
</message>
<message name="listarResponse">
<part name="parameters" element="tns:listarResponse"/>
</message>
<message name="largo">
<part name="parameters" element="tns:largo"/>
</message>
<message name="largoResponse">
<part name="parameters" element="tns:largoResponse"/>
</message>
<message name="psd1">
<part name="parameters" element="tns:psd1"/>
</message>
<message name="psd1Response">
<part name="parameters" element="tns:psd1Response"/>
</message>
<message name="contarcargo">
<part name="parameters" element="tns:contarcargo"/>
</message>
<message name="contarcargoResponse">
<part name="parameters" element="tns:contarcargoResponse"/>
</message>
<message name="listacargo">
<part name="parameters" element="tns:listacargo"/>
</message>
<message name="listacargoResponse">
<part name="parameters" element="tns:listacargoResponse"/>
</message>
<message name="cep1">
<part name="parameters" element="tns:cep1"/>
</message>
<message name="cep1Response">
<part name="parameters" element="tns:cep1Response"/>
</message>
<message name="cep2">
<part name="parameters" element="tns:cep2"/>
</message>
<message name="cep2Response">
<part name="parameters" element="tns:cep2Response"/>
</message>
<portType name="practicaservicio">
<operation name="insertarCargo">
<input wsam:Action="http://servicios.practica.pangea.com/practicaservicio/insertarCargoRequest" message="tns:insertarCargo"/>
<output wsam:Action="http://servicios.practica.pangea.com/practicaservicio/insertarCargoResponse" message="tns:insertarCargoResponse"/>
</operation>
<operation name="insertarDepartamento">
<input wsam:Action="http://servicios.practica.pangea.com/practicaservicio/insertarDepartamentoRequest" message="tns:insertarDepartamento"/>
<output wsam:Action="http://servicios.practica.pangea.com/practicaservicio/insertarDepartamentoResponse" message="tns:insertarDepartamentoResponse"/>
</operation>
<operation name="insertarEmpleado">
<input wsam:Action="http://servicios.practica.pangea.com/practicaservicio/insertarEmpleadoRequest" message="tns:insertarEmpleado"/>
<output wsam:Action="http://servicios.practica.pangea.com/practicaservicio/insertarEmpleadoResponse" message="tns:insertarEmpleadoResponse"/>
</operation>
<operation name="insertarProyecto">
<input wsam:Action="http://servicios.practica.pangea.com/practicaservicio/insertarProyectoRequest" message="tns:insertarProyecto"/>
<output wsam:Action="http://servicios.practica.pangea.com/practicaservicio/insertarProyectoResponse" message="tns:insertarProyectoResponse"/>
</operation>
<operation name="contardepartamento">
<input wsam:Action="http://servicios.practica.pangea.com/practicaservicio/contardepartamentoRequest" message="tns:contardepartamento"/>
<output wsam:Action="http://servicios.practica.pangea.com/practicaservicio/contardepartamentoResponse" message="tns:contardepartamentoResponse"/>
</operation>
<operation name="listadepartamento">
<input wsam:Action="http://servicios.practica.pangea.com/practicaservicio/listadepartamentoRequest" message="tns:listadepartamento"/>
<output wsam:Action="http://servicios.practica.pangea.com/practicaservicio/listadepartamentoResponse" message="tns:listadepartamentoResponse"/>
</operation>
<operation name="contarempleado">
<input wsam:Action="http://servicios.practica.pangea.com/practicaservicio/contarempleadoRequest" message="tns:contarempleado"/>
<output wsam:Action="http://servicios.practica.pangea.com/practicaservicio/contarempleadoResponse" message="tns:contarempleadoResponse"/>
</operation>
<operation name="listaempleado">
<input wsam:Action="http://servicios.practica.pangea.com/practicaservicio/listaempleadoRequest" message="tns:listaempleado"/>
<output wsam:Action="http://servicios.practica.pangea.com/practicaservicio/listaempleadoResponse" message="tns:listaempleadoResponse"/>
</operation>
<operation name="contarproyecto">
<input wsam:Action="http://servicios.practica.pangea.com/practicaservicio/contarproyectoRequest" message="tns:contarproyecto"/>
<output wsam:Action="http://servicios.practica.pangea.com/practicaservicio/contarproyectoResponse" message="tns:contarproyectoResponse"/>
</operation>
<operation name="listaproyecto">
<input wsam:Action="http://servicios.practica.pangea.com/practicaservicio/listaproyectoRequest" message="tns:listaproyecto"/>
<output wsam:Action="http://servicios.practica.pangea.com/practicaservicio/listaproyectoResponse" message="tns:listaproyectoResponse"/>
</operation>
<operation name="edc1">
<input wsam:Action="http://servicios.practica.pangea.com/practicaservicio/edc1Request" message="tns:edc1"/>
<output wsam:Action="http://servicios.practica.pangea.com/practicaservicio/edc1Response" message="tns:edc1Response"/>
</operation>
<operation name="psg1">
<input wsam:Action="http://servicios.practica.pangea.com/practicaservicio/psg1Request" message="tns:psg1"/>
<output wsam:Action="http://servicios.practica.pangea.com/practicaservicio/psg1Response" message="tns:psg1Response"/>
</operation>
<operation name="descripcion">
<input wsam:Action="http://servicios.practica.pangea.com/practicaservicio/descripcionRequest" message="tns:descripcion"/>
<output wsam:Action="http://servicios.practica.pangea.com/practicaservicio/descripcionResponse" message="tns:descripcionResponse"/>
</operation>
<operation name="edc2">
<input wsam:Action="http://servicios.practica.pangea.com/practicaservicio/edc2Request" message="tns:edc2"/>
<output wsam:Action="http://servicios.practica.pangea.com/practicaservicio/edc2Response" message="tns:edc2Response"/>
</operation>
<operation name="hello">
<input wsam:Action="http://servicios.practica.pangea.com/practicaservicio/helloRequest" message="tns:hello"/>
<output wsam:Action="http://servicios.practica.pangea.com/practicaservicio/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="listar">
<input wsam:Action="http://servicios.practica.pangea.com/practicaservicio/listarRequest" message="tns:listar"/>
<output wsam:Action="http://servicios.practica.pangea.com/practicaservicio/listarResponse" message="tns:listarResponse"/>
</operation>
<operation name="largo">
<input wsam:Action="http://servicios.practica.pangea.com/practicaservicio/largoRequest" message="tns:largo"/>
<output wsam:Action="http://servicios.practica.pangea.com/practicaservicio/largoResponse" message="tns:largoResponse"/>
</operation>
<operation name="psd1">
<input wsam:Action="http://servicios.practica.pangea.com/practicaservicio/psd1Request" message="tns:psd1"/>
<output wsam:Action="http://servicios.practica.pangea.com/practicaservicio/psd1Response" message="tns:psd1Response"/>
</operation>
<operation name="contarcargo">
<input wsam:Action="http://servicios.practica.pangea.com/practicaservicio/contarcargoRequest" message="tns:contarcargo"/>
<output wsam:Action="http://servicios.practica.pangea.com/practicaservicio/contarcargoResponse" message="tns:contarcargoResponse"/>
</operation>
<operation name="listacargo">
<input wsam:Action="http://servicios.practica.pangea.com/practicaservicio/listacargoRequest" message="tns:listacargo"/>
<output wsam:Action="http://servicios.practica.pangea.com/practicaservicio/listacargoResponse" message="tns:listacargoResponse"/>
</operation>
<operation name="cep1">
<input wsam:Action="http://servicios.practica.pangea.com/practicaservicio/cep1Request" message="tns:cep1"/>
<output wsam:Action="http://servicios.practica.pangea.com/practicaservicio/cep1Response" message="tns:cep1Response"/>
</operation>
<operation name="cep2">
<input wsam:Action="http://servicios.practica.pangea.com/practicaservicio/cep2Request" message="tns:cep2"/>
<output wsam:Action="http://servicios.practica.pangea.com/practicaservicio/cep2Response" message="tns:cep2Response"/>
</operation>
</portType>
<binding name="practicaservicioPortBinding" type="tns:practicaservicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertarCargo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarDepartamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarProyecto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="contardepartamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listadepartamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="contarempleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaempleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="contarproyecto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaproyecto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edc1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="psg1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="descripcion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edc2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="largo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="psd1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="contarcargo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listacargo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cep1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cep2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="practicaservicio">
<port name="practicaservicioPort" binding="tns:practicaservicioPortBinding">
<soap:address location="http://192.168.1.101:15362/aplicacion/practicaservicio"/>
</port>
</service>
</definitions>