prueba/src/conf/xml-resources/web-service-references/servicioweb/wsdl/192.168.1.105_14070/PRUEBA/servicioweb.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio.prueba.pangea.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio.prueba.pangea.com/" name="servicioweb">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio.prueba.pangea.com/" schemaLocation="http://192.168.1.105:14070/PRUEBA/servicioweb?xsd=1"/>
</xsd:schema>
</types>
<message name="crearDepartameto">
<part name="parameters" element="tns:crearDepartameto"/>
</message>
<message name="crearDepartametoResponse">
<part name="parameters" element="tns:crearDepartametoResponse"/>
</message>
<message name="crearEmpleado">
<part name="parameters" element="tns:crearEmpleado"/>
</message>
<message name="crearEmpleadoResponse">
<part name="parameters" element="tns:crearEmpleadoResponse"/>
</message>
<message name="crearProyecto">
<part name="parameters" element="tns:crearProyecto"/>
</message>
<message name="crearProyectoResponse">
<part name="parameters" element="tns:crearProyectoResponse"/>
</message>
<message name="Registroscargo">
<part name="parameters" element="tns:Registroscargo"/>
</message>
<message name="RegistroscargoResponse">
<part name="parameters" element="tns:RegistroscargoResponse"/>
</message>
<message name="listarDepartamento">
<part name="parameters" element="tns:listarDepartamento"/>
</message>
<message name="listarDepartamentoResponse">
<part name="parameters" element="tns:listarDepartamentoResponse"/>
</message>
<message name="listarEmpleado">
<part name="parameters" element="tns:listarEmpleado"/>
</message>
<message name="listarEmpleadoResponse">
<part name="parameters" element="tns:listarEmpleadoResponse"/>
</message>
<message name="RegistrosEmpleado">
<part name="parameters" element="tns:RegistrosEmpleado"/>
</message>
<message name="RegistrosEmpleadoResponse">
<part name="parameters" element="tns:RegistrosEmpleadoResponse"/>
</message>
<message name="listarProyecto">
<part name="parameters" element="tns:listarProyecto"/>
</message>
<message name="listarProyectoResponse">
<part name="parameters" element="tns:listarProyectoResponse"/>
</message>
<message name="RegistrosProyecto">
<part name="parameters" element="tns:RegistrosProyecto"/>
</message>
<message name="RegistrosProyectoResponse">
<part name="parameters" element="tns:RegistrosProyectoResponse"/>
</message>
<message name="RegistrosDepartamento">
<part name="parameters" element="tns:RegistrosDepartamento"/>
</message>
<message name="RegistrosDepartamentoResponse">
<part name="parameters" element="tns:RegistrosDepartamentoResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="crearCargo">
<part name="parameters" element="tns:crearCargo"/>
</message>
<message name="crearCargoResponse">
<part name="parameters" element="tns:crearCargoResponse"/>
</message>
<message name="listarCargo">
<part name="parameters" element="tns:listarCargo"/>
</message>
<message name="listarCargoResponse">
<part name="parameters" element="tns:listarCargoResponse"/>
</message>
<portType name="servicioweb">
<operation name="crearDepartameto">
<input wsam:Action="http://servicio.prueba.pangea.com/servicioweb/crearDepartametoRequest" message="tns:crearDepartameto"/>
<output wsam:Action="http://servicio.prueba.pangea.com/servicioweb/crearDepartametoResponse" message="tns:crearDepartametoResponse"/>
</operation>
<operation name="crearEmpleado">
<input wsam:Action="http://servicio.prueba.pangea.com/servicioweb/crearEmpleadoRequest" message="tns:crearEmpleado"/>
<output wsam:Action="http://servicio.prueba.pangea.com/servicioweb/crearEmpleadoResponse" message="tns:crearEmpleadoResponse"/>
</operation>
<operation name="crearProyecto">
<input wsam:Action="http://servicio.prueba.pangea.com/servicioweb/crearProyectoRequest" message="tns:crearProyecto"/>
<output wsam:Action="http://servicio.prueba.pangea.com/servicioweb/crearProyectoResponse" message="tns:crearProyectoResponse"/>
</operation>
<operation name="Registroscargo">
<input wsam:Action="http://servicio.prueba.pangea.com/servicioweb/RegistroscargoRequest" message="tns:Registroscargo"/>
<output wsam:Action="http://servicio.prueba.pangea.com/servicioweb/RegistroscargoResponse" message="tns:RegistroscargoResponse"/>
</operation>
<operation name="listarDepartamento">
<input wsam:Action="http://servicio.prueba.pangea.com/servicioweb/listarDepartamentoRequest" message="tns:listarDepartamento"/>
<output wsam:Action="http://servicio.prueba.pangea.com/servicioweb/listarDepartamentoResponse" message="tns:listarDepartamentoResponse"/>
</operation>
<operation name="listarEmpleado">
<input wsam:Action="http://servicio.prueba.pangea.com/servicioweb/listarEmpleadoRequest" message="tns:listarEmpleado"/>
<output wsam:Action="http://servicio.prueba.pangea.com/servicioweb/listarEmpleadoResponse" message="tns:listarEmpleadoResponse"/>
</operation>
<operation name="RegistrosEmpleado">
<input wsam:Action="http://servicio.prueba.pangea.com/servicioweb/RegistrosEmpleadoRequest" message="tns:RegistrosEmpleado"/>
<output wsam:Action="http://servicio.prueba.pangea.com/servicioweb/RegistrosEmpleadoResponse" message="tns:RegistrosEmpleadoResponse"/>
</operation>
<operation name="listarProyecto">
<input wsam:Action="http://servicio.prueba.pangea.com/servicioweb/listarProyectoRequest" message="tns:listarProyecto"/>
<output wsam:Action="http://servicio.prueba.pangea.com/servicioweb/listarProyectoResponse" message="tns:listarProyectoResponse"/>
</operation>
<operation name="RegistrosProyecto">
<input wsam:Action="http://servicio.prueba.pangea.com/servicioweb/RegistrosProyectoRequest" message="tns:RegistrosProyecto"/>
<output wsam:Action="http://servicio.prueba.pangea.com/servicioweb/RegistrosProyectoResponse" message="tns:RegistrosProyectoResponse"/>
</operation>
<operation name="RegistrosDepartamento">
<input wsam:Action="http://servicio.prueba.pangea.com/servicioweb/RegistrosDepartamentoRequest" message="tns:RegistrosDepartamento"/>
<output wsam:Action="http://servicio.prueba.pangea.com/servicioweb/RegistrosDepartamentoResponse" message="tns:RegistrosDepartamentoResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://servicio.prueba.pangea.com/servicioweb/helloRequest" message="tns:hello"/>
<output wsam:Action="http://servicio.prueba.pangea.com/servicioweb/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="crearCargo">
<input wsam:Action="http://servicio.prueba.pangea.com/servicioweb/crearCargoRequest" message="tns:crearCargo"/>
<output wsam:Action="http://servicio.prueba.pangea.com/servicioweb/crearCargoResponse" message="tns:crearCargoResponse"/>
</operation>
<operation name="listarCargo">
<input wsam:Action="http://servicio.prueba.pangea.com/servicioweb/listarCargoRequest" message="tns:listarCargo"/>
<output wsam:Action="http://servicio.prueba.pangea.com/servicioweb/listarCargoResponse" message="tns:listarCargoResponse"/>
</operation>
</portType>
<binding name="serviciowebPortBinding" type="tns:servicioweb">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="crearDepartameto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearProyecto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Registroscargo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarDepartamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistrosEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProyecto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistrosProyecto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistrosDepartamento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearCargo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarCargo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="servicioweb">
<port name="serviciowebPort" binding="tns:serviciowebPortBinding">
<soap:address location="http://192.168.1.105:14070/PRUEBA/servicioweb"/>
</port>
</service>
</definitions>